<div class="col s12 m3">
  <div class="card image-card">
    <!-- avatar photo -->
    <div class="profile-image">
      <span class="card-title">{{ user.username }}</span>
      <!-- CHANGE PHOTO BUTTON -->
      <a href=""
        class="btn-floating halfway-fab waves-effect waves-light red">
        <i class="material-icons">add</i>
      </a>
    </div>
    <div class="card-content">
      <!-- edit profile button -->
      <a href="">Edit Profile</a>
      
      <!-- blurb -->
      <p> FILLER </p>
    </div>
  </div>
</div>