body {
  background-color: whitesmoke;
}
.banner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.show-banner {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}
.anime-title {
  margin: 0;
  position: absolute;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px black;
}
.custom-container {
  width: 90%;
}
.anime-display-loading {
  position: absolute;
  left: 50%;
  top: 50%;
}
.breaker { /* remove this*/
  height: 300px;
  width:  100%;
}
.anime-side-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anime-side-bar {
  padding: 15px;
}
.row-title {
  padding: 0 0 10px 10px;
  line-height: 1.5;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.anime-desc {
  padding: 25px;
  text-align: justify;
}
.card-container {
  padding: 20px;
}
.single-char {
  padding: 0;
  display: inline-block;
  width: 100%;
}
.char-staff-img {
  height: 100%;
  width: 100%;
}
.card-content.char-name {
  height: 60px;
  padding: 5px 10px 10px 10px;
}

/*Modal*/
.modal-card {
  padding: 25px;
  text-align: justify;
}
@media(max-width: 600px) {
  .anime-title {
    font-size: 2em;
  }
  .modal-card {
    width: 80%;
    height: 90%;
  }
}