.intro-words {
  width: 60%;
  text-shadow: -5px 7px 5px rgba(0, 0, 0, 0.3);
  font-size: 100px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  z-index: 1;
  font-size: 9em;
  color: transparent;
  background-size: contain;
  background-image: url('http://res.cloudinary.com/dxumleria/image/upload/v1492141444/anime-characters-wallpaper-15_mhruva.jpg');
  /*filter: grayscale(100%);*/
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.vid-background {
  height: 100vh;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
}
video {
  filter: blur(3px);
}
.splash-img {

}
.test {
  gradient(linear, left top, left bottom, 
    color-stop(0%, rgba(0, 0, 0, 0.65)), 
    color-stop(59%, rgba(0, 0, 0, 0.65)), 
    color-stop(100%, rgba(0, 0, 0, 0.65)))) no-repeat;
}