<!-- LOADING SPINNER -->
<div ng-if="loading" class="preloader-wrapper big active anime-display-loading">
  <div class="spinner-layer spinner-green-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
  </div>
</div>
<!-- banner -->
<div>
  <img ng-if="!loading && animeData.image_url_banner != null"
    class="responsive-img" 
    src="{{animeData.image_url_banner}}">
</div>

<div ng-if="!loading" class="container custom-container">

  <!-- ROW 1  -->
  <div class="row valign-wrapper">

    <div class="col s12 m3 center-align">
      <!-- COVER -->
      <img class="responsive-img z-depth-4"
          ng-src="{{ animeData.image_url_lge }}">
    </div>

    <!-- DESCRIPTION -->
    <div class="col s12 m9">
      <div class="card anime-desc">
        <span class="card-title"><strong>Synopsis</strong></span>
        <p>{{ animeData.description }}</p>
      </div>
    </div>

  </div>

  <!-- ROW 2 -->
  <div class="row valign-wrapper">
    <!-- SIDEBAR -->
    <div class="col s12 m3">
      <div class="card anime-side-bar">

        <!-- BASIC INFO -->
        <p><strong>Alternative Titles</strong></p>
        <hr>
        <p>Japanese title: {{ animeData.title_japanese }}</p>
        <p>Romaji title: {{ animeData.title_romaji }}</p>
        <p><strong>Info</strong></p>
        <hr>
        <p>total episodes: {{ animeData.total_episodes }}</p>
        <p>Duration: {{ animeData.duration }}mins;</p>
        <p>Average Score: {{ animeData.average_score }}</p>
        <p>Airing Status: {{ animeData.airing_status }}</p>
        <p>Originally Aired: {{ animeData.start_date_fuzzy | date:"shortDate"}}</p>
        <p>
          Studios: <span ng-repeat="studio in animeData.studio track by $index">{{ studio.studio_name }} </span> 
        </p>
        <p>
          Genres: <span ng-repeat="genre in animeData.genres track by $index">{{ genre }} </span>
        </p>
      </div>
    </div>

      <!-- CHARACTERS -->
      <div class="col s12 m9">
        <div class="row-title">Characters</div>
        <div class="card row">
          <div ng-repeat="char in animeData.characters|limitTo:8">
            <div class="col s6 m3 l2">

              <div class="card single-char z-depth-2">
                <img class="char-staff-img"
                  ng-src="{{ char.image_url_med }}">
                <div class="card-content char-name">
                  <p class="truncate">{{ char.name_first }} {{ char.name_last }}</p>
                  <p class="truncate">{{ char.actor[0].name_first}} {{char.actor[0].name_last }}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <p class="see-more right-align"
          ng-if="animeData.characters.length > 8">
          <strong>See more...</strong>
        </p>
      </div>
    </div>

  <!-- ROW 2 -->
  <div class="row">
   <!-- RELATED SHOWS -->
     <div class="row-title">In the Franchise</div>
     <div ng-repeat="show in animeData.relations track by $index">

       <div class="col s12 m4 l3">
         <div class="card z-depth-2 home-title-card">
           <a href="/anime/{{ show.id }}">
             <img class="title-img-lg"
               ng-src="{{ show.image_url_lge }}">
           </a>
           <h5 class="cover-title">
             {{ show.title_english }}
           </h5>
           <div class="cover-info">
             <span>  
               average score: {{ show.average_score}}
               {{ show.type }}
               {{ show.relationship_type }}
             </span>
           </div>
         </div>
       </div>
     </div>
   </div>
    <!-- CAST & CREW -->
    <!-- <div class="col s12 m6">
      <div class="row">
      <div class="row-title">Cast and Crew</div>
        <div ng-repeat="person in animeData.staff|limitTo:4">
          <div class="col s6 m6 l3">

            <div class="card single-char z-depth-2">
              <img class="char-staff-img"
                ng-src="{{ person.image_url_med }}">
              <div class="card-content char-name">
                <p class="truncate">{{ person.name_first }} {{ person.name_last }}</p>
                <p class="truncate">{{ person.role }}</p>
              </div>
            </div>

          </div>
        </div>
        <div class="right"
          ng-if="animeData.staff.length > 4">
          <strong>See more...</strong>
        </div>
      </div>
    </div> -->


  </div>
</div>

<div>



  <!-- WHERE TO WATCH -->
  <div ng-repeat="service in animeData.external_links">
    <a href="{{ service.url }}">{{ service.site }}</a>
  </div>
</div>

<!-- ROW 4 -->
<div>
  <!-- previously viewed items -->
</div>


<!-- MODAL=