<!-- LOADING SPINNER -->
<div ng-if="loading" class="preloader-wrapper big active anime-display-loading">
  <div class="spinner-layer spinner-green-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
  </div>
</div>
<!-- banner -->
<div ng-if="!loading" class="banner-box">
  
  <img ng-if="animeData.image_url_banner != null"
    class="responsive-img show-banner" 
    src="{{animeData.image_url_banner}}">
  <img ng-if="animeData.image_url_banner == null"
    class="responsive-img show-banner"
    src="http://res.cloudinary.com/dxumleria/image/upload/v1492708840/3663544-anime-background-wallpaper_zt9hqg.jpg">
  <h1 class="anime-title">{{ animeData.title_english}}</h1>
  
</div>

<div ng-if="!loading" class="container custom-container">

  <!-- ROW 1  -->
  <div class="row">

    <div class="col s12 m3 center-align">
      <!-- COVER -->
      <img class="responsive-img z-depth-4"
          ng-src="{{ animeData.image_url_lge }}">
    </div>

    <!-- DESCRIPTION -->
    <div class="col s12 m9">

      <div class="card anime-desc">
        <span class="card-title"><strong>Synopsis</strong></span>
        <p ng-bind-html="animeData.description"></p>
      </div>

    </div>

  </div>

  <!-- ROW 2 -->
  <div class="row">
    <!-- SIDEBAR -->
    <div class="col s12 m3">
      <div class="card anime-side-bar">

        <!-- BASIC INFO -->
        <h5 class="center-align"><strong>Alternative Titles</strong></h5>
        <div class="divider"></div>
        <p>Japanese title: {{ animeData.title_japanese }}</p>
        <p>Romaji title: {{ animeData.title_romaji }}</p>
        <h5 class="center-align"><strong>Information</strong></h5>
        <div class="divider"></div>
        <p>Total Episodes: {{ animeData.total_episodes }}</p>
        <p>Duration: {{ animeData.duration }}mins</p>
        <p>Average Score: {{ animeData.average_score }}%</p>
        <p>Airing Status: {{ animeData.airing_status }}</p>
        <p>Originally Aired: {{ animeData.start_date_fuzzy }}</p>
        <p>
          Studios: <span ng-repeat="studio in animeData.studio track by $index">{{ studio.studio_name }} </span> 
        </p>
        <p>
          Genres: <span ng-repeat="genre in animeData.genres track by $index">{{ genre }} </span>
        </p>

        <!-- EXTERNAL LINKS -->
        <h5 class="center-align"><strong>External Links</strong></h5>
        <div class="divider"></div>

        <p class=""
          ng-repeat="service in animeData.external_links">
          <a href="{{ service.url }}">{{ service.site }}</a>
        </p>

      </div>
    </div>

    <!-- CHARACTERS -->
    <div class="col s12 m9">
      <div class="card row card-container">

        <div class="row-title">Characters</div>
        <div ng-repeat="char in animeData.characters|limitTo:6">
          <div class="col s6 m4 l2">

            <div class="card single-char z-depth-2">
              <a href="" 
                data-target="charModal" modal
                ng-click="getCharById(char.id)">
                
                <img class="char-staff-img"
                  ng-show="!showActor"
                  ng-src="{{ char.image_url_med }}">
                <img class="char-staff-img"
                  ng-show="showActor"
                  ng-src="{{ char.actor[0].image_url_med }}">
              </a>
              <div class="card-content char-name">
                <p class="truncate">{{ char.name_first }} {{ char.name_last }}</p>
                <p ng-mouseenter="showActor = true"
                  ng-mouseleave="showActor = false"
                  class="truncate">
                {{ char.actor[0].name_first}} {{char.actor[0].name_last }}
                </p>
              </div>
            </div>

          </div>
        </div>

        <p class="see-more right-align"
          ng-if="animeData.characters.length > 6">
          <a href=""
            data-target="allCharModal" modal>
            <strong>See more...</strong>
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- ROW 3 -->
  <div class="row">
    <!-- RELATED SHOWS -->
    <div class="col s12">
      <div class="card row card-container">
        <div class="row-title"
          ng-if="animeData.relations != 0">
          In the Franchise
        </div>
         <div ng-repeat="show in animeData.relations|limitTo:4 track by $index">

          <div class="col s12 m4 l3 xl2">
            <div class="card z-depth-2 home-title-card">
              <a href="/anime/{{ show.id }}">
                <img class="title-img-lg"
                  ng-src="{{ show.image_url_lge }}">
              </a>
              <div class="related-info">
                <p> 
                  Type: {{ show.type }}
                </p>
                <p>
                  Avg Score: {{ show.average_score }}%
                </p>
                <p>
                  Relation: {{ show.relation_type }}
                </p>
              </div>
              <h5 class="cover-title">
                {{ show.title_english }}
              </h5>
              <div class="cover-info"></div>
            </div>
          </div>

        </div>

        <p class="see-more right-align"
          ng-if="animeData.relations.length > 4">
          <a href=""
            data-target="allFranchise" modal>
            <strong>See more...</strong>
          </a>
        </p>

      </div>
    </div>
  </div>
    
  </div>
</div> <!-- End of Container -->

<!-- ROW 4 -->
<div>
  <!-- previously viewed items -->
</div>

<!-- ****** -->
<!-- MODALS -->
<!-- ****** -->

<!-- Single Character Modal -->
<div class="modal modal-card" 
  id="charModal">
  <!-- LOADING BAR -->
  <div class="progress"
    ng-if="loadingModal">
    <div class="indeterminate"></div>
  </div>
    
  <div class="row"
    ng-if="!loadingModal">

    <div class="col s12 m4">
      <img class="char-staff-img" 
        ng-src="{{ charData.image_url_lge }}">
    </div>

    <div class="col s12 m8">
      <p><strong>Name:</strong> {{ charData.name_first }} {{ charData.name_last }}</p>
      <p><strong>Japanese Name:</strong> {{ charData.name_japanese }}</p>
      <p><strong>Info:</strong> {{ charData.info }}</p>
    </div>

  </div>

  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- All Character Modal -->
<div class="modal modal-card"
  id="allCharModal">
  
  <!-- CHARACTERS -->
  <div class="col s12">
    <div class="card row card-container">
      <div class="row-title">Characters</div>
      <div ng-repeat="char in animeData.characters">
        <div class="col s6 m3">
          
          <div class="card single-char z-depth-2">
            <a href="" 
              data-target="charModal" modal
              ng-click="getCharById(char.id)">
              
              <img class="char-staff-img"
                ng-show="!showActor"
                ng-src="{{ char.image_url_med }}">
              <img class="char-staff-img"
                ng-show="showActor"
                ng-src="{{ char.actor[0].image_url_med }}">
            </a>
            <div class="card-content char-name">
              <p class="truncate">{{ char.name_first }} {{ char.name_last }}</p>
              <p ng-mouseenter="showActor = true"
                ng-mouseleave="showActor = false"
                class="truncate">
              {{ char.actor[0].name_first}} {{char.actor[0].name_last }}
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- CAST & CREW -->
  <div class="col s12">
    <div class="card row card-container">
      <div class="row-title">Cast and Crew</div>
      <div ng-repeat="person in animeData.staff">
        <div class="col s6 m3">

          <div class="card single-char z-depth-2">
            <img class="char-staff-img"
              ng-src="{{ person.image_url_med }}">
            <div class="card-content char-name">
              <p class="truncate">{{ person.name_first }} {{ person.name_last }}</p>
              <p class="truncate">{{ person.role }}</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>

</div>
 

<!-- All Franchise Modal -->
<div class="modal modal-card"
  id="allFranchise">
  
  <div class="col s12">
    <div class="card row card-container">
      <div class="row-title">In the Franchise</div>

        <div ng-repeat="show in animeData.relations track by $index">

         <div class="col s12 m4 l3">
           <div class="card z-depth-2 home-title-card">
             <a href="/anime/{{ show.id }}">
               <img class="title-img-lg"
                 ng-src="{{ show.image_url_lge }}">
             </a>
             <div class="related-info">
               <p> 
                 Type: {{ show.type }}
               </p>
               <p>
                 Avg Score: {{ show.average_score }}%
               </p>
               <p>
                 Relation: {{ show.relation_type }}
               </p>
             </div>
             <h5 class="cover-title">
               {{ show.title_english }}
             </h5>
             <div class="cover-info"></div>
           </div>
         </div>

      </div>
    </div>

    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>

  </div>