<!-- LOADING SPINNER -->
<div ng-if="loading" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-green-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
  </div>
</div>
<!-- banner -->
<div ng-if="!loading">
  
</div>

<div ng-if="!loading" class="container custom-container">

  <!-- ROW 1  -->
  <div class="row">
    <!-- COVER -->
    <div>
      <img ng-src="{{ animeData.image_url_lge }}">
    </div>
    <!-- DESCRIPTION -->
    <div>
      <p>{{ animeData.description }}</p>
    </div>
    <!-- BASIC INFO -->
    <div>
      {{ animeData.title_english }}
      {{ animeData.title_japanese }}
      {{ animeData.title_romaji }}
      total episodes: {{ animeData.total_episodes }}
      {{ animeData.duration }} mins episodes
      average score: {{ animeData.average_score }}
      {{ animeData.series_type }}
      {{ animeData.type }}
      {{ animeData.start_date_fuzzy | date:"shortDate"}}
      Airing Status: {{ animeData.airing_status }}
      <p ng-repeat="studio in animeData.studio track by $index">{{ studio }}</p> 
      <p ng-repeat="genre in animeData.genres track by $index">{{ genre }}</p> 
    </div>
  </div>
</div>

<!-- ROW 2 -->
<div>
  <!-- CHARACTERS -->
  <div ng-repeat="char in animeData.characters">
    <img ng-src="{{ char.image_url_med }}">
    {{ char.name_first }}
    {{ cjar.name_last }}
  </div>
  <!-- CAST & CREW -->
  <div ng-repeat="person in animeData.staff track by $index">
    {{person}}
  </div>
</div>

<!-- ROW 3 -->
<div>
  <!-- RELATED SHOWS -->
  <div ng-repeat="show in animeData.relations track by $index">
    <a href="/anime/{{ show.id }}">
      <img ng-src="{{ show.image_url_lge }}">
    </a>
    average score: {{ show.average_score}}
    {{ show.title_english }}
    {{ show.type }}
    {{ show.relationship_type }}

  </div>
  <!-- WHERE TO WATCH -->
  <div ng-repeat="service in animeData.external_links">
    <a href="{{ service.url }}">{{ service.site }}</a>
  </div>
</div>

<!-- ROW 4 -->
<div>
  <!-- previously viewed items -->
</div>