<nav class="navbar z-depth-0">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    
    <!-- <ul class="right">
      <li>
        <a href="#"><i class="fa fa-2x fa-search" aria-hidden="true"></i></a>
      </li> 
    </ul> -->
  </div>
</nav>

<div class="vid-background">
  <div class="video-filter"></div>
  <h1 class="intro-words">Animemoo</h1>
  <video autoplay loop muted>
    <!-- <source src="vids/anime-banner.mp4" type="video/mp4"> -->
  </video>

  <!-- PULSING BTN -->
  <a class="btn btn-floating cyan pulse seePopularBtn"  href="#"
    scroll-to="home-slider"
    duration="1200"
    easing="easeInOutQuint">
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </a>
</div>

<!-- LOADING SPINNER -->
<div ng-if="loading" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-green-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
  </div>
</div>

<!-- TOP 5 SLIDER -->
<div id="home-slider" class="slider" slider
  ng-if="!loading" indicators="false" height="475">
    <ul class="slides">
      <li ng-repeat="show in top5">
        <img ng-src="{{ show.image_url_banner }}">
        <div class="cover-slider"></div>
        <div class="caption left-align">
          <h3 class="caption-text">{{ show.title_english }}</h3>
          <h5 class="caption-text">
            {{ show.average_score }}
            <span ng-repeat="genre in show.genres">
              {{ genre }} 
            </span>
          </h5>
          <a ng-href="/anime/{{ show.id }}"
            class="waves-effect waves-light slider-btn btn">Learn More</a>
        </div>
      </li>
    </ul>
</div>

<!-- ADVANCE SEARCH/FILTER -->
<div ng-if="!loading"
  class="container custom-container">
  <div class="row">
    <!-- SEARCH BAR -->
    <div class="container">
      <div class="row">
        <div class="input-field">
          <input
            ng-model="searchTerm"
            class="input-field col s12 search-bar" 
            id="search" type="text"
            placeholder="Search an Anime Title"></input>
          <button type="button" 
            class="btn"
            scroll-to="#"
            ng-click="search()">
            Search!
          </button>
        </div>
      </div>
    </div>
    <!-- ng-if="searchResults != undefined"> -->
    <!-- advance search tabs here, consider putting them in a container -->
    <div class="card">
      <div class="card-content">
        <ul class="collapsible" data-collapsible="accordion">
           <li>
             <div class="collapsible-header">Advanced search</div>
             <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
           </li>
         </ul>
      <div class="row">
        <!-- SEARCH RESULTS -->
          <div ng-repeat="animeObj in searchResults|limitTo:4">
            <div class="col s10 m4 l3">
              <div class="card z-depth-3 home-title-card">

                <a ng-href="/anime/{{ animeObj.id }}">
                  <img 
                  class="title-img-lg" 
                  ng-src="{{ animeObj.image_url_lge }}">
                </a>
                  <span ng-repeat="genre in animeObj.genres">{{ genre }}</span>
                <h5 class="activator cover-title">
                  {{ animeObj.title_english }}
                </h5>
                <div class="cover-info"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>    
  </div> 
</div>
               <!--  <p class="see-more right-align"
                  ng-if="animeObj.length > 4">
                  <strong>See more...</strong>
                </p> -->


<!-- MAIN PAGE FILTERS -->
  <div ng-if="!loading" 
    class="z-depth-1 z-depth-0"
    id="filter-bar">
    <ul tabs >
      <li class="tab col s3 active"
        ng-click="selectResults('popular')">
        <a href="#">Popular</a>
      </li>
      <li class="tab col s3"
        ng-click="selectResults('current')">
        <a href="#">Currently Airing</a>
      </li>
      <li class="tab col s3"
        ng-click="selectResults('score')">
        <a href="#">Highest Score</a>
      </li>
    </ul>
  </div>
<!-- PAGE RESULTS -->
<div ng-if="!loading"
  class="card-panel results-panel">
  <div class="row">
    <div ng-repeat="animeObj in showArr track by $index">
      <div class="col s12 m4 l3 xl2">
        <div class="card z-depth-3 home-title-card">
          <a ng-href="/anime/{{ animeObj.id }}">
            <img 
            class="title-img-lg" 
            ng-src="{{ animeObj.image_url_lge }}">
          </a>
            <span ng-repeat="genre in animeObj.genres track by $index">{{ genre }}</span>
          <h5 class="activator cover-title">
            {{ animeObj.title_english }}
          </h5>
          <div class="cover-info"></div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="fa fa-times right" aria-hidden="true"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            average score: {{ animeObj.average_score }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="test">
  <img class="splash-img"src="http://res.cloudinary.com/dxumleria/image/upload/v1492139974/imageedit_9_3464682940_skma8a.gif">
</div> -->
