<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <div class="center">placeholder</div>
  </div>
</nav>

<div class="vid-background">
  <div class="video-filter"></div>
  <h1 class="intro-words">Anime World</h1>
 <!--  <video autoplay loop muted>
  <source src="vids/anime-banner.mp4" type="video/mp4">
  </video> -->

  <!-- SEARCH & FILTERS -->
  <div class="container search-container">
    <div class="row">
      <div class="input-field">
        <input 
          class="input-field col s12 search-bar" 
          id="search" type="text"
          placeholder="Search an Anime Title"></input>
      </div>
    </div>
  </div>

  <a class="btn btn-floating cyan pulse seePopularBtn" href="#home-slider">
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </a>
</div>

<!-- LOADING SPINNER -->
<div ng-if="loading" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-green-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
  </div>
</div>

<!-- TOP 5 SLIDER -->
<div id="home-slider" class="slider" slider
  ng-if="!loading" indicators="false" height="475">
    <ul class="slides">
      <li ng-repeat="show in top5">
        <img ng-src="{{ show.image_url_banner }}">
        <div class="cover-slider"></div>
        <div class="caption left-align">
          <h3 class="caption-text">{{ show.title_english }}</h3>
          <h5 class="caption-text">
            {{ show.average_score }}
            <span ng-repeat="genre in show.genres">
              {{ genre }} 
            </span>
          </h5>
          <a ng-href="/anime/{{ show.id }}"
            class="waves-effect waves-light slider-btn btn">Learn More</a>
        </div>
      </li>
    </ul>
</div>

<!-- ADVANCE SEARCH/FILTER -->


<!-- SEARCH RESULTS -->
<div class="row">
  <div class="col s12 m6">
    <ul tabs reload="allTabContentLoaded">
      <li class="tab col s3"><a href="#test1">Test 1</a></li>
      <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
      <li class="tab col s3"><a href="#test3">Test 3</a></li>
      <li class="tab col s3"><a href="#test4">Test 4</a></li>
    </ul>
  </div>
  <!-- <div id="test1" class="col s12">Test 1</div> -->
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
</div>

<!-- PAGE RESULTS -->
<div ng-if="!loading" class="row" id="test1">
  <div ng-repeat="animeObj in top40">
    <div class="col s12 m4 l3 xl2">
      <div class="card z-depth-2 home-title-card">
        <a ng-href="/anime/{{ animeObj.id }}">
          <img 
          class="title-img-lg" 
          ng-src="{{ animeObj.image_url_lge }}">
        </a>
          <span ng-repeat="genre in animeObj.genres">{{ genre }}</span>
        <h5 class="activator cover-title">
          {{ animeObj.title_english }}
        </h5>
        <div class="cover-info"></div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="fa fa-times right" aria-hidden="true"></i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
          average score: {{ animeObj.average_score }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="test">
  <img class="splash-img"src="http://res.cloudinary.com/dxumleria/image/upload/v1492139974/imageedit_9_3464682940_skma8a.gif">
</div> -->
