<!-- <div 
  ng-if="!loading"
  ng-include="'app/views/partials/nav.html'">
</div> -->
{{ user }}
<div class="row">
  <div class="col s6">
    <div class="card-panel results-panel">
      <div>
        <h2 class="center-align">Signup</h2>
        <form>
          <!-- first name -->
          <div input-field>
            <label for="nameFirst">First Name</label>
            <input type="text"
              id="nameFirst"
              length="16"
              ng-model="user.firstName">
          </div>
          <!-- last name -->
          <div input-field>
            <label for="nameLast">Last Name</label>
            <input type="text"
              id="nameLast"
              length="16"
              ng-model="user.lastName">
          </div>
          <!-- username -->
          <div input-field>
            <label for="username">Desired Username</label>
            <input type="text"
              id="username"
              length="16"
              ng-model="user.username">
          </div>
          <!-- email -->
          <div input-field>
            <label for="email">Email</label>
            <input type="email"
              id="email"
              ng-model="user.email">
          </div>
          <!-- password -->
          <div input-field>
            <label for="password">Desired Password</label>
            <input type="password"
              id="password"
              ng-model="user.password">
          </div>
          <!-- confim password -->
          <div input-field>
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password"
              id="passwordConfirm"
              ng-model="user.passwordConfirm">
          </div>

        </form>
        <div class="modal-footer">
          <button 
            ng-click="signup()"
            class="modal-action modal-close waves-effect btn-flat cyan white-text">
            Signup
          </button>
        </div>
      </div>  
    </div>
    
  </div>
</div>

<div 
  ng-include="'app/views/partials/footer.html'"
  ng-if="!loading">
</div>