
<footer class="page-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">

        <div class="col s12 m6">
          <p class="grey-text text-lighten-4">
            Data was collected from the <a href="http://anilist-api.readthedocs.io/en/latest/introduction.html">Anilist</a> API
          </p>
          <p>
            Styled with <a href="http://materializecss.com/">Materialize</a>
          </p>
        </div>

        <div class="col s12 m6">
          <p class="grey-text text-lighten-4"> 
            Create with &hearts; by <a href="https://github.com/jnhustin"><i class="fa fa-github" aria-hidden="true"></i> Justin Hoang</a>
          </p>
          <p class="grey-text text-lighten-4">
            <a href="https://github.com/jnhustin/Project4"><i class="fa fa-github" aria-hidden="true"></i> Animoo</a> Repo
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>