<!-- Modals -->

<!-- Login Modal -->
<div ng-include="'app/views/modals/login-modal.html'">
</div>

<nav class="navbar z-depth-0"
  ng-controller="NavCtrl">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img class="logo" src="./img/animoo.ico"><span>Animoos</span></a>
    
    <!-- SEARCH BAR -->
    <ul class="right">
       <!-- WORKING AREA -->
      <li 
        class="cyan" 
        ng-if="!loggedIn">
        <a href="/signup">
        Sign up
        </a>
      </li>
      <li 
        class="cyan" 
        ng-if="!loggedIn">

        <a href="" data-target="login-modal" modal
          ng-click='test()'>
          Log in
        </a>
      </li>
      <li 
        class="cyan" 
        ng-if="loggedIn">
        <a href="">logged in!</a>
      </li>
      <li class="cyan">
        <a href="/search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="wallpaper">
  <div class="wallpaper-filter"></div>
</div>

